<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> 添加商品页面 </title>
</head>
<body>
<form action="" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="请填写商品名称" required=""/><br/><br/>
    <input type="text" name="price" placeholder="请填写商品价格" required=""/><br/><br/>
    <textarea name="descri" id="" cols="30" rows="10" placeholder="请填写对商品的描述"></textarea><br/><br/>
    <input type="file" name="photo" required accept=".jpg,.png"><br>

    <button type="submit"> 添加商品 </button>
</form>
</body>
<script src="/js/jquery.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="/userJs/add.js"></script>
</html>