<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> 京东商城首页 </title>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/userCss/index.css"/>
</head>
<body>
<!--导航搜索条-->
<header>
    <div class="logo">
        <img src="images/11.png" alt=""/>
    </div>
    <div class="search">
        <input type="text" class="search" placeholder="搜索商品名称"/>
    </div>
    <div class="denglu">
        <p class="login"> 登录 </p>
        <button type="button" class="signout"> 退出 </button>
    </div>
</header>

<!--轮播图-->
<div class="pictu">
    <div class="banner">
        <ul class="imgbox">
            <li><img src="images/1.jpg" alt=""/></li>
            <li><img src="images/2.jpg" alt=""/></li>
            <li><img src="images/3.jpg" alt=""/></li>
            <li><img src="images/4.jpg" alt=""/></li>
            <li><img src="images/5.jpg" alt=""/></li>
            <li><img src="images/6.jpg" alt=""/></li>
        </ul>
    </div>
    <div>
        <ul class="num">
            <li class="num-sty"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<!--购物导航-->
<main>
    <ul>
        <li>
            <img src="images/12.png" alt=""/>
            <p> 京东超市 </p>
        </li>
        <li>
            <img src="images/13.png" alt=""/>
            <p> 全球购 </p>
        </li>
        <li>
            <img src="images/14.png" alt=""/>
            <p> 服装城 </p>
        </li>
        <li>
            <img src="images/15.png" alt=""/>
            <p> 京东生鲜 </p>
        </li>
        <li>
            <img src="images/16.png" alt=""/>
            <p> 充值中心 </p>
        </li>
    </ul>
</main>

<!--为您推荐模块-->
<div class="recomi">
    <div class="recom">
        <hr/>
        <button type="button" class="update" onclick="location.href='add.html'"> 添加商品 </button>
    </div>
    <div class="detail">
        <ul>
            {{each datas as data index}}
            <li>
                <a>
                    <img src="uploads/{{data.name}}.jpg" alt=""/>
                    <h3>{{data.name}}</h3>
                    <span>{{data.price}}</span><br/>
                    <span>{{data.descri}}</span>
                    <button type="button" class="shop" data-id="{{data.id}}"> 加入购物车 </button>
                    <button type="button" class="update" onclick="location.href = '/update/{{data.id}}'"> 更新内容 </button>
                    <button type="button" class="update remove" data-id="{{data.id}}"> 删除商品 </button>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>

<!--底部固定导航栏-->
<div class="footer">
    <ul>
        <li>
            <span class="fa fa-home"></span>
            <p> 首页 </p>
        </li>
        <li>
            <span class="fa fa-server"></span>
            <p> 分类 </p>
        </li>
        {{each datas as data}}
        <li onclick="location.href='/shopping.html'">
            <span class="fa fa-shopping-cart"></span>
            <p> 购物车 </p>
        </li>
        {{/each}}
        <li onclick="location.href='mine.html'">
            <span class="fa fa-user"></span>
            <p> 我的 </p>
        </li>
    </ul>
</div>

</body>
<script src="/js/jquery.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/userJS/index.js"></script>
<script src="/userJS/remove.js"></script>
<script src="/userJS/shopping.js"></script>
<script src="/js/lunbochajian.js"></script>
<script>
    $('.pictu').opt({
        firUlclass: 'imgbox',
        sedUlclass:'num',
        sedLiclass:'num-sty',
        speed:'100',
        time:'2000'
    })
</script>
<script>

</script>
</html>