body{
    margin: 0;
}
header{
    background-color: #F6F6F6;
}
p{
    margin: 0px;
}
.icon{
    display: inline-block;
    font-size: 35px;
    margin-left: 15px;
    color: #888888;
    cursor: pointer;
}
.log{
    display: inline-block;
    margin: 0 120px;
    position: absolute;
    margin-top: 12px;
}
.login{
    margin: 0px;
    font-size: 18px;
    color: #888888;
}
.list{
    display: inline-block;
    float: right;
    margin: 11px;
    font-size: 24px;
}
.fa-list{
    color: #888888;
}
.username p{
    margin: 5px;
}
.shop-infor{
    border: solid 1px #888888;
}
.shop-left img{
    width: 100px;
    float: left;
}
.shop-right{
    color: #888888;
}
.num{
    overflow: hidden;
}
.num p{
    margin: 8px;
    float: right;
}