{{include 'same/header'}}
<body>
{{include 'same/pers'}}

<div class="container">
    <form>
        <div class="form-group">
            <textarea name="content" class="form-control" rows="10" placeholder="请详填写回答内容"></textarea>
        </div>
        <button type="submit" class="btn btn-success form-control">提交回答</button>
    </form>
</div>
{{include 'same/modal'}}

</body>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="scripts/answer.js"></script>
</html>